.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App-header button {
  font-size: 2rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-pairs {
  padding-top: 16px;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.App-new-person {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
}

.edges {
  justify-content: space-between;
}